HKA-Integration/Web References/WsColombia/Main.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseTimbre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Xml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XmlSign" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseTimbre" nillable="true" type="tns:ResponseTimbre" />
</xs:schema>